{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% block content %}
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> Files </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <p class="description">Manage all your documents here.</p>
                        <section>
                            {{ form_start(form) }}
                            <div class="btn btn-primary">
                                {{ form_label(form.manage) }}
                            </div>
                            {{ form_errors(form.manage) }}
                            {{ form_widget(form.manage) }}

                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js_load %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}