{% if type == 'image' %}
    {% if large == '100' %}
        <img src="{{ asset(src) | imagine_filter('desktop_large') }}" class="ajir-responsive-large-{{ large }} ajir-responsive-medium-{{ medium }} ajir-responsive-small-{{ small }}" >
    {% elseif large == '50' %}
        <img src="{{ asset(src) | imagine_filter('desktop_medium') }}" class="ajir-responsive-large-{{ large }} ajir-responsive-medium-{{ medium }} ajir-responsive-small-{{ small }}" >
    {% else %}
        <img src="{{ asset(src) | imagine_filter('desktop_small') }}" class="ajir-responsive-large-{{ large }} ajir-responsive-medium-{{ medium }} ajir-responsive-small-{{ small }}" >
    {% endif %}
{% elseif type == 'video' %}
    <video class="video video-js vjs-default-skin ajir-responsive-large-{{ large }}-video ajir-responsive-medium-{{ medium }}-video ajir-responsive-small-{{ small }}-video" controls preload="none" poster="{{ asset('bundles/rushframeworkbackoffice/images/video_poster.jpg') }}" data-setup="{}">
    <source src="/{{ src }}" class="ajir-responsive-large-{{ large }}-video ajir-responsive-medium-{{ medium }}-video ajir-responsive-small-{{ small }}-video" type="video/mp4">
    </video>
{% else %}
invalid
{% endif %}