<div style="display: none;">
    <div class="gallery-chooser-container">
        {{ form_start(form) }}
        <div class="btn btn-primary">
            {{ form_label(form.manageGallery) }}
        </div>
        {{ form_errors(form.manageGallery) }}
        {{ form_widget(form.manageGallery) }}

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>