<div style="display: none;">
    <div class="file-chooser-container">
        {{ form_start(form) }}
        <div class="btn btn-primary">
            {{ form_label(form.manageFile) }}
        </div>
        {{ form_errors(form.manageFile) }}
        {{ form_widget(form.manageFile) }}

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>