{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
        <div class="auth-container">
            <div class="card">
                <header class="auth-header">
                    <h1 class="auth-title">
                        <img alt="Rush Framework" src="{{ asset('bundles/rushframeworkbackoffice/images/rush-framework-logo-green.png') | imagine_filter('logo') }}" />
                    </h1>
                </header>
                <div class="auth-content">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                    <br/>
                    <a href="{{ path('signup') }}" class="btn btn-sm btn-link-outline rounded">Sign Up</a>
                    <a href="{{ path('login') }}" class="btn btn-sm btn-link-outline rounded">Login</a>
                    <a href="{{ path('activate_resend') }}" class="btn btn-sm btn-link-outline rounded">Resend Activation</a>
                </div>
            </div>
            <div class="text-xs-center">
                <a href="{{ path('homepage') }}" class="btn btn-secondary rounded btn-sm"> <i class="fa fa-arrow-left"></i> Back </a>
            </div>
        </div>
    <style>
        .header {
            left : 0;
        }
    </style>
{% endblock %}