{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
    <div class="auth-container" style="top:55%;">
        <div class="card">
            <div class="auth-content">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.image) }}
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(form.name) }}</div>
                            <div class="col-sm-6">{{ form_row(form.surname) }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(form.password) }}</div>
                            <div class="col-sm-6">{{ form_row(form.confirmPassword) }}</div>
                        </div>
                    </div>
                    <div class="form-group"> <label for="agree">
                            <input class="checkbox" name="agree" id="agree" type="checkbox" required="required">
                            <span>Agree the terms and <a href="#">policy</a></span>
                        </label> </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
                    <div class="form-group">
                        <p class="text-muted text-xs-center">Already have an account? <a href="{{ path("login") }}">Login!</a></p>
                    </div>
            </div>
        </div>
        <div class="text-xs-center">
            <a href="{{ path('homepage') }}" class="btn btn-secondary rounded btn-sm"> <i class="fa fa-arrow-left"></i> {{ "rf_core.common.back" | trans }} </a>
        </div>
    </div>
    <style>
        .header {
            left : 0;
        }
    </style>
{% endblock %}