<section class="section">
    <div class="row sameheight-container">
        <div class="col-md-3">
            <a href="#" style="text-decoration: none;">
                <div class="card card-default sameheight-item">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title">Core Management</p>
                        </div>
                    </div>
                    <div class="card-block" style="text-align: center;">
                        <i class="fa  fa-heartbeat" style="font-size:5em;"></i>
                        <p style="font-size:12px;">
                            This section encompasses the core features of Rush Framework such as User Management,
                            Role Management, and Feature Management
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.col-xl-4 -->
        <div class="col-md-3">
            <div class="card card-primary sameheight-item">
                <div class="card-header">
                    <div class="header-block">
                        <p class="title"> Primary card </p>
                    </div>
                </div>
                <div class="card-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>
                <div class="card-footer"> Card Footer </div>
            </div>
        </div>
        <!-- /.col-xl-4 -->
        <div class="col-md-3">
            <div class="card card-success sameheight-item">
                <div class="card-header">
                    <div class="header-block">
                        <p class="title"> Success card </p>
                    </div>
                </div>
                <div class="card-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>
                <div class="card-footer"> Card Footer </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-info sameheight-item">
                <div class="card-header">
                    <div class="header-block">
                        <p class="title"> Info card </p>
                    </div>
                </div>
                <div class="card-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>
                <div class="card-footer"> Card Footer </div>
            </div>
        </div>
        <!-- /.col-xl-4 -->
        <div class="col-md-3">
            <div class="card card-warning sameheight-item">
                <div class="card-header">
                    <div class="header-block">
                        <p class="title"> Warning card </p>
                    </div>
                </div>
                <div class="card-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>
                <div class="card-footer"> Card Footer </div>
            </div>
        </div>
        <!-- /.col-xl-4 -->
        <div class="col-md-3">
            <div class="card card-danger sameheight-item">
                <div class="card-header">
                    <div class="header-block">
                        <p class="title"> Danger card </p>
                    </div>
                </div>
                <div class="card-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>
                <div class="card-footer"> Card Footer </div>
            </div>
        </div>
        <!-- /.col-xl-4 -->
    </div>
    <!-- /.row -->
</section>