{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% block content %}

{% endblock %}

{% block js_load %}
    ajaxLoadBlock($("#rf-root-dashboard"), null, $(".rush_framework_backoffice_content"));
{% endblock %}