/**
    Overiding theme behaviour
 */
.header {
    background: rgba(0,0,0,0.3);
}

.app {
    background-size:cover;
    background-attachment:fixed;
    background-position:center center;
}


.header .header-block-buttons .btn.header-btn {
    color:white;
    border-color: white;
}

.content .title, .content .title-description {
    color: black;
}

a:not(.btn) {
    text-decoration: none;
}

.title-block {
    border-bottom:1px solid white;
}

.hide {
    display:none;
}

.rf-ajaxify-wrapper {
    padding: 15px;
}


/**
 * Gallery Content
 */
@media screen and (min-width: 901px) {
    .ajir-responsive-large-100 {
        width:100%;
        height:100%;
    }
    .ajir-responsive-large-50 {
        width:50%;
        height:100%;
    }
    .ajir-responsive-large-25 {
        width:25%;
        height:100%;
    }
    .ajir-responsive-large-100-video {
        width:100%;
    }
    .ajir-responsive-large-50-video {
        width:50%;
    }
    .ajir-responsive-large-25-video {
        width:25%;
    }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
    .ajir-responsive-medium-100 {
        width:100%;
        height:100%;
    }
    .ajir-responsive-medium-50 {
        width:50%;
        height:100%;
    }
    .ajir-responsive-medium-25 {
        width:25%;
        height:100%;
    }
    .ajir-responsive-medium-100-video {
        width:100%;
    }
    .ajir-responsive-medium-50-video {
        width:50%;
    }
    .ajir-responsive-medium-25-video {
        width:25%;
    }
}

@media screen and (max-width: 499px) {
    .ajir-responsive-small-100 {
        width:100%;
        height:100%;
    }
    .ajir-responsive-small-50 {
        width:50%;
        height:100%;
    }
    .ajir-responsive-small-25 {
        width:25%;
        height:100%;
    }
    .ajir-responsive-small-100-video {
        width:100%;
    }
    .ajir-responsive-small-50-video {
        width:50%;
    }
    .ajir-responsive-small-25-video {
        width:25%;
    }
}

/**
Description table
 */

.rush-description-table {
    width:100%;
}

.rush-description-table .col-description {
    width: 25%;
    background: gainsboro;
    padding:12px;
    border-bottom:1px solid gainsboro;
    text-align: right;
}

.rush-description-table .col-content {
    width: 75%;
    padding:12px;
    border-bottom:1px solid gainsboro;
}



/**
 USER TABLE FOR ROLE
 */
.rf-bo-list-table {
    width:100%;
}
.rf-bo-list-table .td-info {
    font-size:1.1em;
    padding:17px;
    text-align: center;
}
.rf-bo-list-table .td-header {
    font-size:1.1em;
    padding:17px;
    background:gainsboro;
    width:40%;
    text-align: right;
}
.rf-bo-list-table .td-action {
    width:15%;
}

.rf-bo-list-table .td-action li a{
    padding:5px;
    padding-top:10px;
}
.rf-bo-list-table th {
    text-align: center;
    border-right:1px solid whitesmoke;
}
.rf-bo-list-table th:last-child {
    border-right:none;
}
.rf-bo-list-table .icofont-ui-delete
{
    color:red;
}

.rf-list-buttons-wrapper {
    position: absolute;
    top: 20px;
    left:-16px;
    border:1px solid gainsboro;
    background:white;
}

/**
    Ajax Container Loading
 */
.rush_framework_ajax_container {
    width: 100%;
    height: 100%;
    padding: 5%;
    text-align:center;
    font-size:14px;
}

.rush_framework_loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-right: auto;
    margin-left: auto;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}