{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block content4 %}
    <div class="list-group">
        <a href="{{ path('rush_framework_backoffice.feature.list') }}" class="list-group-item"> View All Features </a>
    </div>
    <br/>
    <div class="card card-warning">
        <div class="card-header">
            <div class="header-block">
                <p class="title"> Important </p>
            </div>
        </div>
        <div class="card-block">
            <section>
                <p>
                    Once you add a feature, you won't be able to modify or delete it.
                </p>
                <p>
                    You <strong>will be able</strong> to activate / add or remove users into it.
                </p>
            </section>
        </div>
    </div>
{% endblock %}


{% block content8 %}
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card card-info">
                            <div class="card-header">
                                <div class="header-block">
                                    <p class="title"> Add Feature </p>
                                </div>
                            </div>
                            <div class="card-block">
                                <section>
                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    {{ form_end(form) }}
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card card-success">
                            <div class="card-header">
                                <div class="header-block">
                                    <p class="title"> Existing Feature Group </p>
                                </div>
                            </div>
                            <div class="card-block">
                                <section>
                                    {% for group in groupings %}
                                        <a href="#" class="list-group-item featureGroupings" rf-value="{{ group }}">
                                            {{ group }}
                                        </a>
                                    {% endfor %}
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js_load %}
    {{ parent() }}

    var inputFeature = $("#feature_grouping");
    $(".featureGroupings").click(function(){
    inputFeature.val($(this).attr('rf-value'));
    });
{% endblock %}