{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% import "@RushFrameworkBackOffice/Macro/listButtons.html.twig" as listButtons %}

{% block content4 %}
    <div class="list-group">
        <a href="{{ path('rush_framework_backoffice.feature.list') }}" class="list-group-item"> View All Features </a>
        <a href="{{ path('rush_framework_backoffice.feature.add') }}" class="list-group-item">Add A Feature</a>
    </div>
{% endblock %}


{% block content8 %}
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> Features </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <section class="rush-role-section">
                            {% for group in grouped %}
                                <h4>{{ group[0]['feature'].grouping }}</h4>
                                <table class="table table-striped table-hover rf-bo-list-table" style=" margin-bottom:30px;">
                                    <tbody>
                                    {% for container in group %}
                                        <tr>
                                            <td class="td-info">
                                                <a href="{{ path("rush_framework_backoffice.feature.view",{'id':container.feature.id}) }}">
                                                    {{ container.feature.name }}
                                                </a>
                                            </td>
                                            <td class="td-action" id="feature{{ container.feature.id }}">
                                                {{ listButtons.buttons(container.feature.id, "rush_framework_backoffice.feature.view", null, null, null, null) }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}