{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% import "@RushFrameworkBackOffice/Macro/listButtons.html.twig" as listButtons %}

{% block content4 %}
    <div class="list-group">
        <a href="{{ path('rush_framework_backoffice.role.list') }}" class="list-group-item"> View All Roles </a>
        <a href="{{ path('rush_framework_backoffice.role.add') }}" class="list-group-item">Add A Role</a>
    </div>
{% endblock %}


{% block content8 %}
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> {{ feature.name }} </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <section class="rush-role-section">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabGeneralInfo" role="tab">General Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabFeatures" role="tab">Roles</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabGeneralInfo" role="tabpanel">
                                    <table class="rush-description-table">
                                        <tbody>
                                            <tr>
                                                <td class="col-description">
                                                    Feature Name
                                                </td>
                                                <td class="col-content">
                                                    <strong>{{ feature.name }}</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Grouping
                                                </td>
                                                <td class="col-content">
                                                    {{ feature.grouping }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Default Title
                                                </td>
                                                <td class="col-content">
                                                    {{ feature.title }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    State
                                                </td>
                                                <td class="col-content">
                                                    {% if feature.enable %}
                                                        <button class="btn-ajax-feature tooltipster rf-on" style="border:none;cursor:pointer;background:none;" title="Turn This Feature Off"
                                                                rf-enabled="1" rf-url="{{ path('rush_framework_backoffice.feature.turn.off', {'id':feature.id}) }}">
                                                            <img class="ajax-img-feature" src="{{ asset("bundles/rushframeworkbackoffice/images/on.png") }}">
                                                        </button>
                                                        <button class="btn-ajax-feature tooltipster rf-off" style="display:none;border:none;cursor:pointer;background:none;" title="Turn This Feature On"
                                                                rf-enabled="0" rf-url="{{ path('rush_framework_backoffice.feature.turn.on', {'id':feature.id}) }}">
                                                            <img class="ajax-img-feature" src="{{ asset("bundles/rushframeworkbackoffice/images/off.png") }}">
                                                        </button>
                                                        <button class="tooltipster rf-changing" style="display:none;border:none;cursor:pointer;background:none;" title="Changing" >
                                                            <img class="ajax-img-feature" src="{{ asset("bundles/rushframeworkbackoffice/images/changingOn.png") }}">
                                                        </button>
                                                    {% else %}
                                                        <button class="btn-ajax-feature tooltipster rf-on" style="display:none;border:none;cursor:pointer;background:none;" title="Turn This Feature Off"
                                                                rf-enabled="1" rf-url="{{ path('rush_framework_backoffice.feature.turn.off', {'id':feature.id}) }}">
                                                            <img class="ajax-img-feature" src="{{ asset("bundles/rushframeworkbackoffice/images/on.png") }}">
                                                        </button>
                                                        <button class="btn-ajax-feature tooltipster rf-off" style="border:none;cursor:pointer;background:none;" title="Turn This Feature On"
                                                                rf-enabled="0" rf-url="{{ path('rush_framework_backoffice.feature.turn.on', {'id':feature.id}) }}">
                                                            <img class="ajax-img-feature" src="{{ asset("bundles/rushframeworkbackoffice/images/off.png") }}">
                                                        </button>
                                                        <button class="tooltipster rf-changing" style="display:none;border:none;cursor:pointer;background:none;" title="Changing" >
                                                            <img class="ajax-img-feature" src="{{ asset("bundles/rushframeworkbackoffice/images/changingOn.png") }}">
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tabFeatures" role="tabpanel">
                                    <br/>
                                    <h2>Coming Soon!</h2>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js_load %}
    {{ parent() }}

    $(".btn-ajax-feature").click(function(){
    var ena = $(this).attr('rf-enabled');
    var enabled = false;
    if (ena == "1"){
    enabled =true;
    }
    var requestUrl = $(this).attr('rf-url');

    var parent = $(this).parent();
    var buttonDisable = parent.children(".rf-on");
    var buttonEnable = parent.children(".rf-off");
    var buttonLoading = parent.children(".rf-changing");

    buttonEnable.hide();buttonDisable.hide(); buttonLoading.show();

    $.ajax({url: requestUrl, success: function(result,status){
    if (result == "rf-true") {
    alertify.success("Changed Successfully");
    }else{
    alertify.success("Cannot Change The State Of This Feature");
    }
    if (enabled) {
    buttonLoading.hide();
    buttonEnable.show();
    }else{
    buttonLoading.hide();
    buttonDisable.show();
    }
    }});
    });
{% endblock %}