{% extends "@RushFrameworkBackOffice/structure.html.twig" %}

{% block title %}
    {% if data.title is null %}
        Rush Framework
    {% else %}
        {{ data.title }}
    {% endif %}

{% endblock %}

{% block body %}
    <div class="main-wrapper">
        <div class="app" id="app">
            {% block header %}
                {% include "@RushFrameworkBackOffice/header.html.twig" %}
            {% endblock %}
            {% block sidebar %}
                {% include "@RushFrameworkBackOffice/sidebar.html.twig" %}
            {% endblock %}
            <article class="content rush_framework_backoffice_content">
                {% block content %}
                    <div class="row">
                        <div class="col-md-8">
                            {% block content8 %}{% endblock %}
                        </div>
                        <div class="col-md-4">
                            <div class="card card-primary">
                                <div class="card-header" style="background: gainsboro;">
                                    <div class="header-block">
                                        <p class="title"> Quick Corner </p>
                                    </div>
                                </div>
                                <div class="card-block">
                                    {% block content4 %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </article>
            {% block footer %}
                {#{% include "@RushFrameworkBackOffice/footer.html.twig" %}#}
            {% endblock %}
        </div>
    </div>
    <!-- Reference block for JS -->
    <div class="ref" id="ref">
        <div class="color-primary"></div>
        <div class="chart">
            <div class="color-primary"></div>
            <div class="color-secondary"></div>
        </div>
    </div>
{% endblock %}

{% block base_stylesheets %}
    {# defining the base styleseets files#}
    <link rel="stylesheet" href="{{ asset('bundles/rushframeworkbackoffice/admin/css/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/rushframeworkbackoffice/admin/css/app-blue.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/rushframeworkbackoffice/alertifyjs/css/alertify.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/rushframeworkbackoffice/alertifyjs/css/themes/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/rushframeworkbackoffice/videojs/video-js.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/rushframeworkbackoffice/css/backoffice.css') }}">

{% endblock %}

{% block base_javascripts %}
    {# defining the base javascripts files#}
    <script src="{{ asset('bundles/rushframeworkbackoffice/admin/js/vendor.js') }}"></script>
    <script src="{{ asset('bundles/rushframeworkbackoffice/admin/js/app.js') }}"></script>
    <script src="{{ asset('bundles/rushframeworkbackoffice/alertifyjs/alertify.min.js') }}"></script>
    <script src="{{ asset('bundles/rushframeworkbackoffice/js/jquery.form.min.js') }}"></script>
    <script src="{{ asset("bundles/rushframeworkbackoffice/videojs/video.min.js") }}"></script>
    <script src="{{ asset("bundles/rushframeworkbackoffice/videojs/videojs-ie8.min.js") }}"></script>
    <script src="{{ asset('bundles/rushframeworkbackoffice/js/backoffice.js') }}"></script>
{% endblock %}

{% block javascripts_container %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();



            {% block js_load %}{% endblock %}


            {% block alertify %}
            {% endblock %}
            {% if data.messages.success is not empty %}
            alertify.success("{{ data.messages.success }}");
            {% endif %}
            {% if data.messages.info is not empty %}
            alertify.message("{{ data.messages.info }}");
            {% endif %}
            {% if data.messages.warning is not empty %}
            alertify.warning("{{ data.messages.warning }}");
            {% endif %}
            {% if data.messages.error is not empty %}
            alertify.error("{{ data.messages.error }}");
            {% endif %}

            //background
            rushBackground(".app", "{{ path('rush_framework_core.default.backgrounds') }}");

            //getting notes
            getNotesForUser('#note-container', "{{ path('rush_framework_core.note.find') }}");

        });
    </script>
    {% block js %}{% endblock %}
{% endblock %}

