<footer class="footer">
    <div class="footer-block buttons"></div>
    <div class="footer-block author">
        <ul>
            <li> created by <a href="http://www.ajiredun.com">A. Edun</a> </li>
            <li> <a href="#">Contact</a> </li>
        </ul>
    </div>
</footer>