<header class="header">
    <div class="header-block header-block-collapse hidden-lg-up"> <button class="collapse-btn" id="sidebar-collapse-btn">
            <i class="fa fa-bars"></i>
        </button> </div>
    <div class="header-block header-block-search hidden-sm-down">
        <button type="button" id="fullscreen" class="btn btn-sm btn-oval btn-secondary-outline" data-placement="bottom" onclick="toggleFullScreen()" data-toggle="tooltip" title="Full Screen">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </button>
        {#<form role="search">
            <div class="input-container"> <i class="fa fa-search"></i> <input type="search" placeholder="Search">
                <div class="underline"></div>
            </div>
        </form>#}
    </div>
    <div class="header-block header-block-buttons">
        {% block headerButtons %}
            <a href="{{ path('homepage') }}" class="btn btn-sm header-btn"> <span>Front Office</span> </a>
        {% endblock %}
    </div>
    <div class="header-block header-block-nav">
        <ul class="nav-profile">
            <li class="dropdown">
                <a href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% if data.language == 'fr' %}
                        <span style="color:white;">{{ 'rf_core.common.language.french' | trans }}</span>
                    {% else %}
                        <span style="color:white;">{{ 'rf_core.common.language.english' | trans }}</span>
                    {% endif %}
                    &nbsp;<i class="fa fa-language" style="color:white;" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("language",{'_locale':"en"}) }}">{{ 'rf_core.common.language.english' | trans }}</a>
                    <a class="dropdown-item" href="{{ path("language",{'_locale':"fr"}) }}">{{ 'rf_core.common.language.french' | trans }}</a>
                </div>
            </li>
            {% if data.user.name != "Login" %}
                <li id="note-container" class="notifications new">
                    <a href="" data-toggle="dropdown"> <i class="fa fa-bell-o" style="color:white;"></i> <sup>
                        </sup> </a>
                    <div class="dropdown-menu notifications-dropdown-menu">
                        <ul class="notifications-container">
                            <li>
                                <a href="#" class="notification-item">
                                    <div class="body-col">
                                        <p> You have no notes right now :) </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endif %}
            <li class="profile dropdown">
                <a class="nav-link dropdown-toggle" style="color:white;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {% if data.user.name == "Login" %}
                        <div class="img" style="background-image: url('{{ asset(data.user.image) | imagine_filter('profile_picture_thumbnail') }}')"> </div>
                    {% else %}
                        <div class="img" style="background-image: url('{{ asset(data.user.image) | imagine_filter('profile_picture_thumbnail') }}')"> </div>
                        <span class="name" style="color:white;">
                            {{ data.user.name }}
                        </span>
                    {% endif %}
                </a>
                <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                    {% if data.user.name == "Login" %}
                        <a class="dropdown-item" href="{{ path('signup') }}"> <i class="fa fa-bell icon"></i> Sign Up </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('login') }}"> <i class="fa fa-sign-in icon"></i> Login </a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path('rush_framework_backoffice.root') }}"> <i class="fa fa-bell icon"></i> Dashboard </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('logout') }}"> <i class="fa fa-power-off icon"></i> Logout </a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</header>
