<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <a href="{{ path('rush_framework_backoffice.root') }}" title="Go To Dashboard">
                <div class="brand">
                    <img alt="Rush Framework" src="{{ asset("bundles/rushframeworkbackoffice/images/rush-framework-logo-white.png") | imagine_filter('logo') }}" />
                </div>
            </a>
            <nav class="menu">
                <ul class="nav metismenu" id="sidebar-menu">
                    {% for menu in data.back_office.menu %}
                        <li onclick="event.preventDefault();menuContentLoad(event, this.id, {{ menu.ajaxify }});" id="{{ menu.id }}" {% if menu.route is defined %}data-url="{{ path(menu.route) }}"{% endif %} class="rf-backoffice-menu   {% if menu.id in data.back_office.active_menu %}active open{% endif %}">
                            <a href=""> {{ menu.icon | raw }} {{ menu.name | trans }}{% if menu.menu is defined %}<i class="fa arrow"></i>{% endif %}</a>
                            {% if menu.menu is defined %}
                                <ul>
                                    {% for sub in menu.menu %}
                                        <li onclick="event.preventDefault();menuContentLoad(event, this.id, {{ sub.ajaxify }});" id="{{ sub.id }}" {% if sub.route is defined %}data-url="{{ path(sub.route) }}"{% endif %} class="rf-backoffice-menu {% if sub.id == data.back_office.active_menu %}active{% endif %}"> <a href="#">{{ sub.icon | raw }} {{ sub.name | trans }}</a> </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <footer class="sidebar-footer">
            <ul class="nav metismenu" id="customize-menu">
                <li>
                    <ul>
                        <li class="customize">
                            <div class="customize-item">
                                <div class="row customize-header">
                                    <div class="col-xs-4"> </div>
                                    <div class="col-xs-4"> <label class="title">fixed</label> </div>
                                    <div class="col-xs-4"> <label class="title">static</label> </div>
                                </div>
                                <div class="row hidden-md-down">
                                    <div class="col-xs-4"> <label class="title">Sidebar:</label> </div>
                                    <div class="col-xs-4"> <label>
                                            <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed" >
                                            <span></span>
                                        </label> </div>
                                    <div class="col-xs-4"> <label>
                                            <input class="radio" type="radio" name="sidebarPosition" value="">
                                            <span></span>
                                        </label> </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4"> <label class="title">Header:</label> </div>
                                    <div class="col-xs-4"> <label>
                                            <input class="radio" type="radio" name="headerPosition" value="header-fixed">
                                            <span></span>
                                        </label> </div>
                                    <div class="col-xs-4"> <label>
                                            <input class="radio" type="radio" name="headerPosition" value="">
                                            <span></span>
                                        </label> </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4"> <label class="title">Footer:</label> </div>
                                    <div class="col-xs-4"> <label>
                                            <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
                                            <span></span>
                                        </label> </div>
                                    <div class="col-xs-4"> <label>
                                            <input class="radio" type="radio" name="footerPosition" value="">
                                            <span></span>
                                        </label> </div>
                                </div>
                            </div>
                            {#<div class="customize-item">
                                <ul class="customize-colors">
                                    <li> <span class="color-item color-red" data-theme="red"></span> </li>
                                    <li> <span class="color-item color-orange" data-theme="orange"></span> </li>
                                    <li> <span class="color-item color-green active" data-theme=""></span> </li>
                                    <li> <span class="color-item color-seagreen" data-theme="seagreen"></span> </li>
                                    <li> <span class="color-item color-blue" data-theme="blue"></span> </li>
                                    <li> <span class="color-item color-purple" data-theme="purple"></span> </li>
                                </ul>
                            </div>#}
                        </li>
                    </ul>
                    <a href=""> <i class="fa fa-cog"></i> Customize </a>
                </li>
            </ul>
        </footer>
    </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>