<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <title>{% block title %}Rush Framework{% endblock %}</title>
    {% block base_stylesheets %}{% endblock %}
    {% block stylesheets %}{% endblock %}
    <style>
        {% block css %}{% endblock %}
        .app{
            background-size:cover;
            background-attachment: fixed;
            background-position: center center;
        }
    </style>
    {% block favicon %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    {% endblock %}
</head>
<body>
{% block start_body %}{% endblock %}
{% block body %}{% endblock %}
{% block base_javascripts %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block javascripts_container %}{% endblock %}
{% block end_body %}{% endblock %}
{#  CODES THAT NEEDS TO BE ABSOLUTELY PRESENT  #}
<form id="form_download_file" style="display: none;" action="{{ path('rush_framework_backoffice.media.files.download') }}" method="post">
    <input type="text" id="download_input" name="form_path" value="none" />
    <button type="submit" id="btn_submit_download">B</button>
</form>
</body>
</html>