<section class="section">
    <div class="title-block dashboard">
        <h3 class="title"> {{ data.content.title }} </h3>
        {% if data.content.description is defined %}
            <p class="title-description"> {{ data.content.description }} </p>
        {% endif %}
    </div>
    <div class="row sameheight-container">
        {% for box in data.content.box %}
            <div class="col-md-3">
                {% if box.ajax is defined %}
                    {% if box.ajax %}
                        <a href="#" data-url="{{ path(box.route, box.params) }}" onclick="ajaxifyContent(this)" style="text-decoration: none;">
                    {% else %}
                        <a href="{{ path(box.route, box.params) }}" style="text-decoration: none;">
                    {% endif %}
                {% else %}
                    <a href="{{ path(box.route, box.params) }}" style="text-decoration: none;">
                {% endif %}
                    <div class="card card-default sameheight-item">
                        <div class="card-header">
                            <div class="header-block">
                                <p class="title">{{ box.name }}</p>
                            </div>
                        </div>
                        <div class="card-block" style="text-align: center;">
                            <i class="{{ box.icon }}" style="font-size:5em;"></i>
                            {% if box.description is defined %}
                                <p style="font-size:12px;">
                                    {{ box.description }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>