{% import "@RushFrameworkBackOffice/Macro/listButtons.html.twig" as listButtons %}


<div class="title-block">
    <h1 class="title"> {{ params.title }} </h1>
    {% if params.description is defined %}
        <p class="title-description"> {{ params.description }} </p>
    {% endif %}
</div>
<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <section class="rush-list-table">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        {% for head in params.table.headers %}
                                            <th>{{ head }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for row in params.table.list %}
                                    <tr>
                                        {% for col in row %}
                                            <td>
                                                {% if col is iterable %}
                                                    {{ listButtons.buttons(col.viewId, col.viewLink, col.editId, col.editLink, col.deleteId, col.deleteLink) }}
                                                {% else %}
                                                    {{ col | raw }}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% include "@RushFrameworkBackOffice/Utils/paginationAdmin.html.twig" with {'pagination':params.pagination,'class':'rf_page_role'} %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>