<script>
    function galleryChooser(editor){
        alertify.prompt().set({
            'message':'<div class="gallery-chooser-wrapper">'+$(".gallery-chooser-container").html()+'<br/></div><h4>Display</h4><h5 style="margin-bottom:2px;">Laptops & PCs</h5><input type="radio" checked="checked" name="gallery-chooser-others" value="25" /> 25%&nbsp;&nbsp;&nbsp;<input type="radio" name="gallery-chooser-others" value="50" /> 50%&nbsp;&nbsp;&nbsp;<input type="radio" name="gallery-chooser-others" value="100" /> 100%&nbsp;&nbsp;&nbsp;<input type="radio" name="gallery-chooser-others" value="none" /> None&nbsp;&nbsp;&nbsp;<h5 style="margin-bottom:2px;">Tablets</h5><input type="radio" name="gallery-chooser-tablets" value="25" /> 25%&nbsp;&nbsp;&nbsp;<input type="radio" checked="checked" name="gallery-chooser-tablets" value="50" /> 50%&nbsp;&nbsp;&nbsp;<input type="radio" name="gallery-chooser-tablets" value="100" /> 100%&nbsp;&nbsp;&nbsp;<input type="radio" name="gallery-chooser-tablets" value="none" /> None&nbsp;&nbsp;&nbsp;<h5 style="margin-bottom:2px;">Mobiles & Smartphones</h5><input type="radio" name="gallery-chooser-mobile" value="25" /> 25%&nbsp;&nbsp;&nbsp;<input type="radio" name="gallery-chooser-mobile" value="50" /> 50%&nbsp;&nbsp;&nbsp;<input type="radio" checked="checked" name="gallery-chooser-mobile" value="100" /> 100%&nbsp;&nbsp;&nbsp;<input type="radio" name="gallery-chooser-mobile" value="none" /> None&nbsp;&nbsp;&nbsp;',
            'onok': function(evt, value ) {
                var source = null;

                var responsiveSmall = $('input[name=gallery-chooser-mobile]:checked').val();
                var responsiveMedium = $('input[name=gallery-chooser-tablets]:checked').val();
                var responsiveLarge = $('input[name=gallery-chooser-others]:checked').val();

                $.get('{{ path('rush_framework_backoffice.media.gallery.source') }}',{'relPath':value, 'small':responsiveSmall, 'medium':responsiveMedium, 'large':responsiveLarge},function(data,status,xhr){
                    source = data;
                    if (source == "invalid") {
                        alertify.error("Invalid File Format");
                    }else{
                        editor.insertContent(' '+source+' ');
                    }
                });

            },
            'oncancel': function() {
            },
            'rezisable': true,
            'maximizable': true,
            'title': 'Gallery',
            'labels': {'ok':'Add', 'cancel':'Cancel'}
        }).show();
// hide default control
        $(".ajs-input").hide();

    }



    /**
     * fileChooser
     */
    function fileChooser(editor){
        alertify.prompt().set({
            'message':'<div class="file-chooser-wrapper">'+$(".file-chooser-container").html()+'<br/><strong>Button</strong> <input id="btn_name_input" data-toggle="tooltip" title="Text To Appear on the button" placeholder="Button Name" /></div>',
            'onok': function(evt, value ) {
                var valueQuoted = '"'+value+'"';
                var btnInputName = $("#btn_name_input").val();
                if (btnInputName == "" || btnInputName == " ") {
                    btnInputName = "Download";
                }
                var htmlOutput =
                    '<a data-rf=' + valueQuoted + ' class="btn btn-primary rf-file-download">'+btnInputName+'</a>';

                $('.in').html(htmlOutput);
                editor.insertContent('&nbsp;'+htmlOutput+'&nbsp;');
            },
            'oncancel': function() {
            },
            'rezisable': true,
            'maximizable': true,
            'title': 'Files',
            'labels': {'ok':'Add', 'cancel':'Cancel'}
        }).show();
        // hide default control
        $(".ajs-input").hide();
    }

</script>