<!DOCTYPE html>
<html>
<head>
    {% if includeAssets %}
        {{ include("FMElfinderBundle:Elfinder:helper/assets_css.html.twig") }}
    {% endif %}
</head>
<body>
{% if includeAssets %}
    {{ include("FMElfinderBundle:Elfinder:helper/assets_js.html.twig") }}
{% endif %}
<script type="text/javascript" charset="utf-8">
    $().ready(function() {
        var $f = $('.elfinder').elfinder({
            url : '{{path('ef_connect', { 'instance': instance, 'homeFolder': homeFolder } )}}',
            lang : '{{locale}}',
            onlyMimes: {{ onlyMimes|raw }},
            getFileCallback: function(file) {
                {% if relative_path %}
                    setValue('{{ pathPrefix }}'+file.url.replace("{{ app.request.schemeAndHttpHost }}/", ""), "{{ id }}");
                {% else %}
                    setValue(file.url, "{{ id }}");
                {% endif %}
            }
        });
    });
</script>
<div class="elfinder"></div>
</body>
</html>
