{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% block content %}
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <section>
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ render(controller('RushFrameworkBackOfficeBundle:Media:tinyFiles')) }}
    {{ render(controller('RushFrameworkBackOfficeBundle:Media:tinyGallery')) }}
    {% include '@RushFrameworkBackOffice/Common/tinyMce.html.twig' %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            initTinyMCE("textarea");
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/rushframeworkbackoffice/tinymce/skins/custom/skin.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/rushframeworkbackoffice/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/rushframeworkbackoffice/tinymce/themes/modern/theme.min.js') }}"></script>
{% endblock %}