{% block elfinder_widget %}
    <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} data-type="elfinder-input-field" />
    {% if enable and instance is defined %}
        <script type="text/javascript" charset="utf-8">
            document.addEventListener("DOMContentLoaded", function(event) {
                $('[data-type="elfinder-input-field"][id="{{ id }}"]').on("click", function() {
                    $.get("{{path('elfinder', {'instance': instance, 'homeFolder': homeFolder })}}?id={{ id }}", function(data, status){
                        $("#ajir").html(data);
                    });
                });
            });
            
            function setValue(value, element_id) {
                $('[data-type="elfinder-input-field"]' + (element_id ? '[id="'+ element_id +'"]': '')).val(value).change();
            }
        </script>
    {% endif %}
{% endblock %}
