{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block content4 %}
    <div class="list-group">
        <a href="#" class="list-group-item" data-url="{{ path('rush_framework_backoffice.role.list') }}" onclick="ajaxifyContent(this)" style="text-decoration: none;">
            View All Roles
        </a>
    </div>
    <br/>
    <div class="card card-warning">
        <div class="card-header">
            <div class="header-block">
                <p class="title"> Important </p>
            </div>
        </div>
        <div class="card-block">
            <section>
                <p>
                    Once you add a role, you won't be able to modify or delete it.
                </p>
                <p>
                    You <strong>will be able</strong> to edit the features / add or remove users into it.
                </p>
            </section>
        </div>
    </div>
{% endblock %}


{% block content8 %}
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> Add Role </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <section>
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js_load %}
    {{ parent() }}

    $(".btn-ajax-feature").click(function(){
    var ena = $(this).attr('rf-enabled');
    var enabled = false;
    if (ena == "1"){
    enabled =true;
    }
    var requestUrl = $(this).attr('rf-url');

    var parent = $(this).parent();
    var buttonDisable = parent.children(".rf-enable");
    var buttonEnable = parent.children(".rf-disable");
    var buttonLoading = parent.children(".rf-changing");

    buttonEnable.hide();buttonDisable.hide(); buttonLoading.show();

    $.ajax({url: requestUrl, success: function(result,status){
    if (result == "rf-true") {
    alertify.success("Feature Changed Successfully");
    }else{
    alertify.success("Cannot Change The State Of This Feature");
    }
    if (enabled) {
    buttonLoading.hide();
    buttonEnable.show();
    }else{
    buttonLoading.hide();
    buttonDisable.show();
    }
    }});
    });
{% endblock %}