{% if success %}
    <div class="rf-ajaxify-wrapper">
        <div class="rf-ajaxify-wrapper-container">
            <h3 style="color:darkgreen;">Great!</h3>
            <p>Role Changed Successfully.</p>
        </div>
    </div>
{% else %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="rf-ajaxify-wrapper">
        <div class="rf-ajaxify-wrapper-container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <script>
        $(document).ready(function(){
            var options = {
                target: '.rf-ajaxify-container',
                type: 'post'
            };
            $('.rf-ajaxify-form').ajaxForm(options);
        });
    </script>
{% endif %}