<div class="panel panel-default">
    <div class="panel-body">
        {% for group in grouped %}
            <h4 style="color:royalblue;">{{ group[0]['feature'].grouping }}</h4>
            <table class="table table-hover" style="width:100%; margin-bottom:30px;">
                <tbody>
                {% for container in group %}
                    <tr>
                        <td class="td-info">
                            <a href="{{ path("rush_framework_backoffice.feature.view",{'id':container.feature.id}) }}">
                                {{ container.feature.name }}
                            </a>
                        </td>
                        <td class="td-action" id="feature{{ container.feature.id }}" style="width:20%;">
                            {% if container.access %}
                                <button class="btn-ajax-feature tooltipster rf-enable" style="border:none;cursor:pointer;background:none;" title="Disable This Feature For This Role"
                                        rf-enabled="1" rf-url="{{ path('rush_framework_backoffice.role.feature.disable', {'id':role.id, 'featureId':container.feature.id}) }}">
                                    <img class="ajax-img-feature" src="{{ asset("bundles/rushframeworkbackoffice/images/enabled.png") }}">
                                </button>
                                <button class="btn-ajax-feature tooltipster rf-disable" style="display:none;border:none;cursor:pointer;background:none;" title="Enable This Feature For This Role"
                                        rf-enabled="0" rf-url="{{ path('rush_framework_backoffice.role.feature.enable', {'id':role.id, 'featureId':container.feature.id}) }}">
                                    <img class="ajax-img-feature" src="{{ asset("bundles/rushframeworkbackoffice/images/disabled.png") }}">
                                </button>
                                <button class="tooltipster rf-changing" style="display:none;border:none;cursor:pointer;background:none;" title="Changing" >
                                    <img class="ajax-img-feature" src="{{ asset("bundles/rushframeworkbackoffice/images/changing.png") }}">
                                </button>
                            {% else %}
                                <button class="btn-ajax-feature tooltipster rf-enable" style="display:none;border:none;cursor:pointer;background:none;" title="Disable This Feature For This Role"
                                        rf-enabled="1" rf-url="{{ path('rush_framework_backoffice.role.feature.disable', {'id':role.id, 'featureId':container.feature.id}) }}">
                                    <img class="ajax-img-feature" src="{{ asset("bundles/rushframeworkbackoffice/images/enabled.png") }}">
                                </button>
                                <button class="btn-ajax-feature tooltipster rf-disable" style="border:none;cursor:pointer;background:none;" title="Enable This Feature For This Role"
                                        rf-enabled="0" rf-url="{{ path('rush_framework_backoffice.role.feature.enable', {'id':role.id, 'featureId':container.feature.id}) }}">
                                    <img class="ajax-img-feature" src="{{ asset("bundles/rushframeworkbackoffice/images/disabled.png") }}">
                                </button>
                                <button class="tooltipster rf-changing" style="display:none;border:none;cursor:pointer;background:none;" title="Changing" >
                                    <img class="ajax-img-feature" src="{{ asset("bundles/rushframeworkbackoffice/images/changing.png") }}">
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>