{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% import "@RushFrameworkBackOffice/Macro/listButtons.html.twig" as listButtons %}

{% block content4 %}
    <div class="list-group">
        <a href="#" class="list-group-item" data-url="{{ path('rush_framework_backoffice.role.list') }}" onclick="ajaxifyContent(this)" style="text-decoration: none;">
            View All Roles
        </a>
        <a href="{{ path('rush_framework_backoffice.role.add') }}" class="list-group-item">Add A Role</a>
    </div>
{% endblock %}


{% block content8 %}
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> {{ role.name }} </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <section class="rush-role-section">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabGeneralInfo" role="tab">General Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabFeatures" role="tab">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabUsers" role="tab">Users</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabGeneralInfo" role="tabpanel">
                                    <table class="rush-description-table">
                                        <tbody>
                                            <tr>
                                                <td class="col-description">
                                                    Name
                                                </td>
                                                <td class="col-content">
                                                    <strong>{{ role.name }}</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Profile Set
                                                </td>
                                                <td class="col-content">
                                                    {{ role.profileSet }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Enabled Features
                                                </td>
                                                <td class="col-content">
                                                    {{ role_number }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    No. of users
                                                </td>
                                                <td class="col-content">
                                                    {{ users | length }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tabFeatures" role="tabpanel">
                                    <br/>
                                    {% include '@RushFrameworkBackOffice/Role/featuresAccess.html.twig' %}
                                </div>
                                <div class="tab-pane" id="tabUsers" role="tabpanel" style="overflow: auto;">
                                    {% if users is empty %}
                                        <h4>There are no users for this role</h4>
                                    {% else %}
                                        <table class="table table-striped table-hover rf-bo-list-table">
                                            <thead>
                                            <tr>
                                                <th>

                                                </th>
                                                <th>
                                                    Users
                                                </th>
                                                <th>
                                                    Email
                                                </th>
                                                <th>
                                                    Online
                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in users %}
                                                <tr>
                                                    <td>
                                                        <a href="{{ path('rush_framework_backoffice.role.list',{'id':user.id}) }}">
                                                            <img class="tooltipster" style="width:40px;height:40px;" src="{{ asset(user.image) | imagine_filter('profile_picture_thumbnail') }}" title="Profile Picture" />
                                                        </a>
                                                    </td>
                                                    <td class="td-info">
                                                        <a href="{{ path('rush_framework_backoffice.role.list',{'id':user.id}) }}">
                                                            {{ user.name }} {{ user.surname }}
                                                        </a>
                                                    </td>
                                                    <td class="td-info">
                                                        <a href="{{ path('rush_framework_backoffice.role.list',{'id':user.id}) }}">
                                                            {{ user.email }}
                                                        </a>
                                                    </td>
                                                    <td class="td-info">
                                                        <a href="{{ path('rush_framework_backoffice.role.list',{'id':user.id}) }}">
                                                            {% if user.online %}
                                                                <img class="tooltipster" src="{{ asset("bundles/rushframeworkbackoffice/images/online.png") }}" title="User Online" />
                                                            {% else %}
                                                                <img class="tooltipster" src="{{ asset("bundles/rushframeworkbackoffice/images/offline.png") }}" title="User Offline" />
                                                            {% endif %}
                                                        </a>
                                                    </td>
                                                    <td class="td-action" style="text-align: center;">
                                                        {{ listButtons.buttons(user.id, "rush_framework_backoffice.role.list", null, null, null, null) }}
                                                        <ul class="nav nav-pills">
                                                            <li><a href="{{ path('rush_framework_backoffice.role.list',{'id':user.id}) }}" class="tooltipster" title="View"><i class="icofont icofont-transparent"></i></a></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js_load %}
    {{ parent() }}

    $(".btn-ajax-feature").click(function(){
    var ena = $(this).attr('rf-enabled');
    var enabled = false;
    if (ena == "1"){
    enabled =true;
    }
    var requestUrl = $(this).attr('rf-url');

    var parent = $(this).parent();
    var buttonDisable = parent.children(".rf-enable");
    var buttonEnable = parent.children(".rf-disable");
    var buttonLoading = parent.children(".rf-changing");

    buttonEnable.hide();buttonDisable.hide(); buttonLoading.show();

    $.ajax({url: requestUrl, success: function(result,status){
    if (result == "rf-true") {
    alertify.success("Feature Changed Successfully");
    }else{
    alertify.success("Cannot Change The State Of This Feature");
    }
    if (enabled) {
    buttonLoading.hide();
    buttonEnable.show();
    }else{
    buttonLoading.hide();
    buttonDisable.show();
    }
    }});
    });
{% endblock %}