{% macro addToolbar(data, name, content, folder) %}
    {% if hasAccess("EDIT WEBSITE CONTENT",data.access.list) %}
    <div class="btn-group editor-control-buttons">
        <a class="btn btn-primary disabled">{{ name }}</a>
        {% if content.content is null %}
            <a class="btn btn-success" href="{{ path('rush_framework_core.content.edit',{'rel':'content/'~folder~'/'~content.name}) }}" title="Add Content"><span class="glyphicon glyphicon-plus"></span></a>
        {% else %}
            <a class="btn btn-default" href="{{ path('rush_framework_core.content.edit',{'rel':'content/'~folder~'/'~content.name}) }}" title="Edit This Content"><span class="glyphicon glyphicon-pencil"></span></a>
            {% if content.delete %}
                <button class="btn btn-danger editor-control-button-delete" rf-href="{{ path('rush_framework_core.content.delete',{'rel':'content/'~folder~'/'~content.name}) }}" title="Delete This Content"><span class="glyphicon glyphicon-trash"></span></button>
            {% endif %}
        {% endif %}
    </div><br/>
    {% endif %}
{% endmacro %}