{% macro buttons(viewId, viewLink, editId, editLink, deleteId, deleteLink) %}

    {% if editId is empty and deleteId is empty %}
        {% if viewId is not empty %}
            <a href="{{ path(viewLink, {'id':viewId}) }}" class="btn btn-link" title="View"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
        {% endif %}
    {% else %}
        <div class="rf-list-buttons-container" style="position:relative;">
            <div class="rf-list-buttons-initiator">
                <button type="button" class="btn btn-link"><i class="fa fa-cog" aria-hidden="true"></i></button>
            </div>
            <div class="rf-list-buttons-wrapper" style="display:none;">
                {% if viewId is not empty %}
                    <a href="{{ path(viewLink, {'id':viewId}) }}" class="btn btn-link btn-sm" title="View"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
                {% endif %}
                {% if editId is not empty %}
                    <a href="{{ path(editLink, {'id':editId}) }}" class="btn btn-link btn-sm" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                {% endif %}
                {% if deleteId is not empty %}
                    <a href="{{ path(deleteLink, {'id':deleteId}) }}" style="color:red;" class="btn btn-link btn-sm" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}