{% extends "@RushFrameworkFrontOffice/Email/base.html.twig" %}

{% block title %}
    Activation Mail
{% endblock %}

{% block logo %}
    <a href="{{ app.request.getSchemeAndHttpHost() }}">
        <img width="100" src="{{ asset('bundles/rushframeworkbackoffice/images/rush-framework-logo-white.png') }}" alt="logo" border="0" style="display:block; border:none; outline:none; text-decoration:none;" st-image="edit" class="logo">
    </a>
{% endblock %}

{% block content %}
    <div class="block">
        <!-- start textbox-with-title -->
        <table width="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="fulltext">
            <tbody>
            <tr>
                <td>
                    <table bgcolor="#ffffff" width="580" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" modulebg="edit">
                        <tbody>
                        <!-- Spacing -->
                        <tr>
                            <td width="100%" height="30"></td>
                        </tr>
                        <!-- Spacing -->
                        <tr>
                            <td>
                                <table width="540" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                                    <tbody>
                                    <!-- Title -->
                                    {% if header is not empty %}
                                    <tr>
                                        <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #333333; text-align:center;line-height: 20px;" st-title="fulltext-title">
                                            {{ header | raw }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <!-- End of Title -->
                                    <!-- spacing -->
                                    <tr>
                                        <td height="5"></td>
                                    </tr>
                                    <!-- End of spacing -->
                                    <!-- content -->
                                    <tr>
                                        <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #95a5a6; text-align:center;line-height: 30px;" st-content="fulltext-paragraph">
                                            {{ body | raw }}
                                        </td>
                                    </tr>
                                    <!-- End of content -->
                                    <!-- Spacing -->
                                    <tr>
                                        <td width="100%" height="10"></td>
                                    </tr>
                                    <!-- Spacing -->
                                    <!-- button -->
                                    {% if footer is not empty %}
                                    <tr>
                                        <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #95a5a6; text-align:center;line-height: 30px;" st-content="fulltext-paragraph">
                                            {{ footer | raw }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <!-- /button -->
                                    <!-- Spacing -->
                                    <tr>
                                        <td width="100%" height="30"></td>
                                    </tr>
                                    <!-- Spacing -->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- end of textbox-with-title -->
    </div>
{% endblock %}