{% extends "@RushFrameworkFrontOffice/Email/base.html.twig" %}

{% block title %}
    You've got a new Sign Up
{% endblock %}

{% block logo %}
    <a href="{{ app.request.getSchemeAndHttpHost() }}">
        <img width="100" src="{{ asset('bundles/rushframeworkbackoffice/images/rush-framework-logo-white.png') }}" alt="logo" border="0" style="display:block; border:none; outline:none; text-decoration:none;" st-image="edit" class="logo">
    </a>
{% endblock %}

{% block content %}
    <div class="block">
        <!-- start textbox-with-title -->
        <table width="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="fulltext">
            <tbody>
            <tr>
                <td>
                    <table bgcolor="#ffffff" width="580" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" modulebg="edit">
                        <tbody>
                        <!-- Spacing -->
                        <tr>
                            <td width="100%" height="30"></td>
                        </tr>
                        <!-- Spacing -->
                        <tr>
                            <td>
                                <table width="540" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                                    <tbody>
                                    <!-- Title -->
                                    <tr>
                                        <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #333333; text-align:center;line-height: 20px;" st-title="fulltext-title">
                                            You've got a new Sign Up
                                        </td>
                                    </tr>
                                    <!-- End of Title -->
                                    <!-- spacing -->
                                    <tr>
                                        <td height="5"></td>
                                    </tr>
                                    <!-- End of spacing -->
                                    <!-- content -->
                                    <tr>
                                        <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #95a5a6; text-align:center;line-height: 30px;" st-content="fulltext-paragraph">
                                            <p>Id: {{ user.id }}</p>
                                            <p>User Name: {{ user.name }} {{ user.surname }}</p>
                                            <p>Email: {{ user.email }}</p>
                                        </td>
                                    </tr>
                                    <!-- End of content -->
                                    <!-- Spacing -->
                                    <tr>
                                        <td width="100%" height="10"></td>
                                    </tr>
                                    <!-- Spacing -->
                                    <!-- button -->
                                    <tr>
                                        <td>

                                            <table height="36" align="center" valign="middle" border="0" cellpadding="0" cellspacing="0" class="tablet-button" st-button="edit">
                                                <tbody>
                                                <tr>
                                                    <td width="auto" align="center" valign="middle" height="36" style=" background-color:#0db9ea; border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:13px; font-family:Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300; padding-left:25px; padding-right:25px;">

                                                                           <span style="color: #ffffff; font-weight: 300;">
                                                                              <a style="color: #ffffff; text-align:center;text-decoration: none;" href="{{ app.request.getSchemeAndHttpHost() }}{{ path('rush_framework_backoffice.user.view',{'id': user.id}) }}">View User</a>
                                                                           </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>



                                        </td>
                                    </tr>
                                    <!-- /button -->
                                    <!-- Spacing -->
                                    <tr>
                                        <td width="100%" height="30"></td>
                                    </tr>
                                    <!-- Spacing -->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- end of textbox-with-title -->
    </div>
{% endblock %}