{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block content4 %}
    <div class="list-group">
        <a href="#" class="list-group-item" data-url="{{ path('rush_framework_backoffice.user.list') }}" onclick="ajaxifyContent(this)" style="text-decoration: none;">
            View All Users
        </a>
    </div>
    <br/>
    <div class="card card-warning">
        <div class="card-header">
            <div class="header-block">
                <p class="title"> Important </p>
            </div>
        </div>
        <div class="card-block">
            <section>
                <p>
                    Once you add a user, you won't be able to modify or delete it.
                </p>
                <p>
                    You <strong>will be able</strong> to change its role
                </p>
            </section>
        </div>
    </div>
{% endblock %}


{% block content8 %}
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> Add User </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <section>
                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_row(form.image) }}
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">{{ form_row(form.name) }}</div>
                                    <div class="col-sm-6">{{ form_row(form.surname) }}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">{{ form_row(form.password) }}</div>
                                    <div class="col-sm-6">{{ form_row(form.confirmPassword) }}</div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}