{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block content4 %}
    <div class="list-group">
        <a href="#" class="list-group-item" data-url="{{ path('rush_framework_backoffice.user.list') }}" onclick="ajaxifyContent(this)" style="text-decoration: none;">
            View All Users
        </a>
        <a href="{{ path('rush_framework_backoffice.user.add') }}" class="list-group-item" style="text-decoration: none;">
            Add A User
        </a>
    </div>
{% endblock %}


{% block content8 %}
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> Change Profile Picture </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <section>
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}