{% extends '@RushFrameworkBackOffice/base.html.twig' %}

{% import "@RushFrameworkBackOffice/Macro/listButtons.html.twig" as listButtons %}

{% block content4 %}
    <div class="list-group">
        <a href="#" class="list-group-item" data-url="{{ path('rush_framework_backoffice.user.list') }}" onclick="ajaxifyContent(this)" style="text-decoration: none;">
            View All Users
        </a>
        <a href="{{ path('rush_framework_backoffice.user.add') }}" class="list-group-item">Add A User</a>
    </div>
{% endblock %}


{% block content8 %}
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> {{ user.name }} </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <section class="rush-role-section">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabGeneralInfo" role="tab">General Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabRole" role="tab">Role</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabGeneralInfo" role="tabpanel">
                                    <table class="rush-description-table">
                                        <tbody>
                                            <tr>
                                                <td class="col-description">
                                                </td>
                                                <td class="col-content">
                                                    <img alt="{{ user.name }}" src="{{ asset(user.image) | imagine_filter('profile_picture') }}" />
                                                    <a class="btn btn-sm btn-primary" href="{{ path('rush_framework_backoffice.user.profile_picture',{'id':user.id}) }}" >Change</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Name
                                                </td>
                                                <td class="col-content">
                                                    <strong>{{ user.surname }} {{ user.name }}</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Email
                                                </td>
                                                <td class="col-content">
                                                    {{ user.email }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Role
                                                </td>
                                                <td class="col-content">
                                                    {{ user.role.name }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Created On
                                                </td>
                                                <td class="col-content">
                                                    {{ user.createdAt|date("m/d/Y h:i:s") }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Updated On
                                                </td>
                                                <td class="col-content">
                                                    {{ user.updatedAt|date("m/d/Y h:i:s") }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Last Logged In
                                                </td>
                                                <td class="col-content">
                                                    {% if user.lastLogin is null %}
                                                        Not Yet
                                                    {% else %}
                                                        {{ user.lastLogin|date("m/d/Y h:i:s") }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Activated
                                                </td>
                                                <td class="col-content">
                                                    {% if user.active %}
                                                        Yes
                                                    {% else %}
                                                        No
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Online
                                                </td>
                                                <td class="col-content">
                                                    {% if user.online %}
                                                        <img alt="Online" data-toggle="tooltip" title="User Online" src="{{ asset('bundles/rushframeworkbackoffice/images/online.png') | imagine_filter('icon') }}" />
                                                    {% else %}
                                                        <img alt="Offline" data-toggle="tooltip" title="User Offline" src="{{ asset('bundles/rushframeworkbackoffice/images/offline.png') | imagine_filter('icon') }}" />
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-description">
                                                    Send Note
                                                </td>
                                                <td class="col-content">
                                                    <button class="btn btn-primary rf-ajaxify" data-onclose="none" data-link="{{ path('rush_framework_core.note.send',{'id':user.id}) }}" >Send</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tabRole" role="tabpanel">
                                    <br/>
                                    <h4>{{ user.role.name }}</h4>
                                    {% if hasAccess("CHANGE USER ROLE",data.access.list) %}
                                        <button class="btn btn-primary rf-ajaxify" data-onclose="reload" data-link="{{ path('rush_framework_backoffice.role.change',{'id':user.id}) }}" >Change</button>
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}