<a href="#" data-toggle="dropdown"> <i class="fa fa-bell-o" style="color:white;"></i> <sup>
        {% if noteList.numUnread == 0 %}

        {% else %}
            <span class="counter" style="background-color: yellow; padding:5px;border-radius:10px;">{{ noteList.numUnread }}</span>
        {% endif %}
    </sup>
</a>
<div class="dropdown-menu notifications-dropdown-menu" style="max-height:400px;overflow: auto;">
    <ul class="notifications-container">
        {% if noteList.notes is empty %}
            <li>
                <a href="#" class="notification-item">
                    <div class="body-col">
                        <p> You have no notes right now :) -- </p>
                    </div>
                </a>
            </li>
        {% else %}
            {% for note in noteList.notes %}
                <li style="{% if note.read == false %}background-color:gainsboro;{% endif %}">
                    <div style="text-align: right;">
                        {% if note.fromType == "note_component" %}
                            <a href="#" title="From" style="color:grey; font-size:10px;">{{ note.from }}</a>
                        {% endif %}
                        {% if note.fromType == "user" %}
                            <a href="#" title="From" style="color:grey; font-size:10px;">{{ note.from }}</a>
                        {% endif %}
                        <a href="#" title="Since" style="color:grey; font-size:10px;"><i class="fa fa-clock-o icon"></i> {{ note.time | timeSince }}</a>
                        {% if note.read %}
                            <a href="#" class="rf-note-commands-ajaxifier" rf-container="#note-container" rf-user="{{ data.user.id }}" rf-href="{{ path('rush_framework_core.note.mark_as_unread', {id: note.id}) }}" title="Mark As Unead"><i class="fa fa-circle icon"></i></a>
                        {% else %}
                            <a href="#" class="rf-note-commands-ajaxifier" rf-container="#note-container" rf-user="{{ data.user.id }}" rf-href="{{ path('rush_framework_core.note.mark_as_read', {id: note.id}) }}" title="Mark As Read"><i class="fa fa-check-circle icon"></i></a>
                        {% endif %}
                        <a href="#"  class="rf-note-commands-ajaxifier" rf-container="#note-container" rf-user="{{ data.user.id }}" rf-href="{{ path('rush_framework_core.note.delete', {id: note.id}) }}" title="Delete This Note"><i class="fa fa-times icon"></i></a>
                    </div>
                    <a href="#" class="notification-item">
                        <div class="body-col">
                            <p>
                                {{ note.content }}
                            </p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>

