{% if pagination.isPagination %}
    {% set key = pagination.urlKey~"=" %}
<div class="rfpagination {{ class }}">

    <div class="btn-group">
        {% if pagination.previousPage == 0 %}
            <a class="btn btn-default disabled"><span class="glyphicon glyphicon-chevron-left"></span></a>
        {% else %}
            <a href="{{ key }}{{ pagination.previousPage }}" class="btn btn-default rf-pagination-link"><span class="glyphicon glyphicon-chevron-left"></span></a>
        {% endif %}
        <a class="btn btn-info active">{{ pagination.currentPage }}</a>

        {% if pagination.nextPage == 0 %}
            <a class="btn btn-default disabled"><span class="glyphicon glyphicon-chevron-right"></span></a>
        {% else %}
            <a href="{{ key }}{{ pagination.nextPage }}" class="btn btn-default rf-pagination-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
        {% endif %}

        <div class="btn-group">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="glyphicon glyphicon-record"></span>
            </a>
            <ul class="dropdown-menu" style="min-width:60px;padding:5px;">
                {% if pagination.previousPage == 0 %}
                {% else %}
                    <li><a href="{{ key }}1" class="btn btn-default rf-pagination-link">First</a></li>
                {% endif %}

                {% for page in pagination.variancePreviousPages %}
                    <li><a href="{{ key }}{{ page }}" class="btn btn-default rf-pagination-link">{{ page }}</a></li>
                {% endfor %}

                <li><a class="btn btn-info active">{{ pagination.currentPage }}</a></li>

                {% for page in pagination.varianceNextPages %}
                    <li><a href="{{ key }}{{ page }}" class="btn btn-default rf-pagination-link">{{ page }}</a></li>
                {% endfor %}

                {% if pagination.nextPage == 0 %}
                {% else %}
                    <li><a href="{{ key }}{{ pagination.totalPages }}" class="btn btn-default rf-pagination-link">Last</a></li>
                {% endif %}
            </ul>
        </div>
        <select class="btn btn-default rf-pagination-select" style="padding-bottom:8px;">
            {% for num in pagination.perPageOptions %}
                {% if pagination.numberPerPage == num %}
                    <option value="{{ pagination.urlNumKey }}={{ num }}" selected="selected">{{ num }}</option>
                {% else %}
                    <option value="{{ pagination.urlNumKey }}={{ num }}">{{ num }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>
{% endif %}